<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name='keywords' content='北京大兴租房,大兴租房价格,艺苑桐城租房,北京租房'>
	<meta name='description' content='【巴乐兔租房,零佣金,月付租,房东直租】是上海租房首选平台,为您提供艺苑桐城房源信息,大兴永华路6号,4号线/大兴线(黄村火车站站),拎包即住,【巴乐兔租房】让您一步到位租到好房!'>
	<title>北京大兴_艺苑桐城_1室1厅1卫_整租_永华路6号-【巴乐兔租房】</title>
    <link rel="shortcut icon" href="//js.baletoo.cn/static/pc/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/index/css/common.css?201801"/>
    <script src="__ROOT__/index/js/jquery.js"></script>
	<script src="__ROOT__/index/js/layui.js"></script>
    <!--[if lt IE 9]>
        <script src="__ROOT__/index/other/ww/json/json.js" charset="utf-8"></script>
    <![endif]-->
    <!-- <script src="__ROOT__/index/other/??h5.openim.sdk/1.0.6/scripts/wsdk.js,h5.openim.kit/0.3.3/scripts/kit.js?pc=1" charset="utf-8"></script> -->
    <script src="__ROOT__/index/js/sea.js"></script>
    <script src="__ROOT__/index/js/retina.min.js"></script>
    <script type="text/javascript">
        seajs.config({
            alias: {
                'monitor':'//js.baletoo.cn/static/pc/js/monitor_call.js?20189'
            }
        });
        var  _hmt  =  _hmt  ||  [];
        var g_config = [];
        g_config['city'] = 'bj';
        g_config['from'] = 'PC';
        g_config['dir'] = '//js.baletoo.cn';
        g_config['model_name'] = '';
    </script>
</head>
<body>
<!--选择城市弹层-->
<div class="cityPop">
    <div class="popClose">
        <span><img src="__ROOT__/index/images/close.png" /></span>
    </div>
    <div class="cityPop_title">
        <h2>选择城市</h2>
        <ul>
            <li>热门城市：</li>
            <li><a id="navM2" mark="I2" href="http://bj.baletu.com/">北京</a></li>
            <li><a id="navM1" mark="I1" href="http://sh.baletu.com/">上海</a></li>
            <li><a id="navM2" mark="I2" href="http://gz.baletu.com/">广州</a></li>
            <li><a id="navM2" mark="I2" href="http://sz.baletu.com/">深圳</a></li>
        </ul>
    </div>
    <div class="cityPop_list">
        <ul>
            <li>
                <span class="nameIcon">B</span>
                <a id="navM2" mark="I2" href="http://bj.baletu.com/">北京</a>
            </li>
            <li>
                <span class="nameIcon">C</span>
                <a id="navM2" mark="I2" href="http://cd.baletu.com/">成都</a>
                <a id="navM2" mark="I2" href="http://cq.baletu.com/">重庆</a>
            </li>
            <li>
                <span class="nameIcon">D</span>
                <a id="navM2" mark="I2" href="http://dl.baletu.com/">大连</a>
            </li>
            <li>
                <span class="nameIcon">G</span>
                <a id="navM2" mark="I2" href="http://gz.baletu.com/">广州</a>
            </li>
            <li>
                <span class="nameIcon">H</span>
                <a id="navM2" mark="I2" href="http://hz.baletu.com/">杭州</a>
            </li>
            <li>
                <span class="nameIcon">N</span>
                <a id="navM2" mark="I2" href="http://nj.baletu.com/">南京</a>
            </li>
        </ul>
        <ul>
            <li>
                <span class="nameIcon">S</span>
                <a id="navM1" mark="I1" href="http://sh.baletu.com/">上海</a>
                <a id="navM2" mark="I2" href="http://sz.baletu.com/">深圳</a>
                <a id="navM2" mark="I2" href="http://suzhou.baletu.com/">苏州</a>
            </li>
            <li>
                <span class="nameIcon">T</span>
                <a id="navM2" mark="I2" href="http://tj.baletu.com/">天津</a>
            </li>
            <li>
                <span class="nameIcon">W</span>
                <a id="navM2" mark="I2" href="http://wh.baletu.com/">武汉</a>
            </li>
            <li>
                <span class="nameIcon">X</span>
                <a id="navM2" mark="I2" href="http://xa.baletu.com/">西安</a>
            </li>
            <li>
                <span class="nameIcon">Z</span>
                <a id="navM2" mark="I2" href="http://zz.baletu.com/">郑州</a>
            </li>
        </ul>
    </div>
</div>
<div class="popfull"></div>
<div class="header header-r ">
    <div class="out">
        <div class="logo">
            <a href="/">
                <img src="__ROOT__/index/images/logo@2x.png" data-rjs="//js.baletoo.cn/static/pc/images/mac/index/logo@3.png"/>
            </a>
        </div>
        <div class="region" style="">
            <a href="javascript:void(0)">
                <!-- <span class="icon icon-pos-grey"></span> -->
                <span class="icon icon-down-white"></span>
                北京            </a>
        </div>
        <div class="nav">
            <ul>
                <li ><a id="navM3" mark="I3" href="http://bj.baletu.com/">首页</a><div class="nav-line"></div></li>
                <li ><a id="navM4" mark="I4" href="http://bj.baletu.com/zhaofang/" >立即找房</a><div class="nav-line"></div></li>
                <li ><a id="navM6" mark="I6" href="http://bj.baletu.com/creathouse/" >发布房源</a><div class="nav-line"></div></li>
                <li >
                    <a href="javascript:;" onclick="toroommate()">找室友</a>
                    <div class="nav-line"></div>
                </li>
                <li style="display: none;"><a id="navM6" mark="I6" href="http://bj.baletu.com/shequ/"  >兔社区</a><div class="nav-line"></div></li>
                <li class="downApp-link ">
                    <a id="navM5" mark="主菜单" href="http://bj.baletu.com/downapp/" >下载APP</a><div class="nav-line"></div>
                </li>
            </ul>
        </div>
                <div class="login-link login-link-new">
            <ul class="clearfix">
                 <li><span class="icon_people_white"></span></li>
                <li><a id="navM8" mark="I8" href="/register">注册</a></li>
                <li><a id="navM7" mark="I7" href="/login?return_url=bj.baletu.com%2Fhouse%2F1344427.html">登录</a></li>
            </ul>
        </div>
            </div>
</div>
<script type="text/javascript">
    // if($('.header').hasClass('header-r')){
    //     console.log(2);
    //     $('.user-down').css({"top":"-19px"});
    // }else if($('.header').hasClass('header-w')){
    //     console.log(1);
    //     $('.user-down').css({"top":"5px"});
    // }
    $(".region").click(function(){
        $(".cityPop").addClass("cityPop-show");
        $(".popfull").show();
    });
    $(".popClose").click(function(){
        $(".cityPop").removeClass("cityPop-show");
        $(".popfull").hide();
    });
    $(".popfull").click(function(){
        $(".cityPop").removeClass("cityPop-show");
        $(".popfull").hide();
    });
    $(".logout").click(function(){
        $.ajax({
            url:"/login/logout",
            type: 'POST',
            data: '',
            dataType: 'json',
            beforeSend: function() {
            },
            success: function(msg) {
                if(msg.status == 0){
                    window.location.reload();
                }
            }
        });
    });
    var cityname=$('.region').children("a").get(0).innerText;
    var cityname_py='';
    switch (cityname) {
        case '上海':
            cityname_py='shanghai';
            break;
        case '北京':
            cityname_py='beijing';
            break;
        case '深圳':
            cityname_py='shenzhen';    
            break;
        case '杭州':
            cityname_py='hangzhou';
            break;
        case '南京':
            cityname_py='nanjing';
            break;
        case '苏州':
            cityname_py='suzhou';
            break;
        case '广州':
            cityname_py='guangzhou';
            break;
        case '成都':
            cityname_py='chengdu';
            break;
        case '大连':
            cityname_py='dalian';
            break;
        case '天津':
            cityname_py='tianjin';
            break;
        case '重庆':
            cityname_py='chongqing';
            break;
        case '武汉':
            cityname_py='wuhan';
            break;
        case '西安':
            cityname_py='xian';
            break;
        case '郑州':
            cityname_py='zhengzhou';
            break;
        default:
            break;
    }
    //console.log(cityname_py);
    function toroommate(){
        if(cityname_py==''){
            cityname_py='shanghai';
        }
        window.location.href="http://www.baletu.com/roommate/findsublet_"+cityname_py;
    } 
</script>
<link rel="stylesheet" href="__ROOT__/index/css/aliim.css?1711222">
<script src="__ROOT__/index/js/jquery.fancybox.min.js?0723"></script>
<link href="__ROOT__/index/css/jquery.fancybox.min.css?0723" rel="stylesheet">
<script src="__ROOT__/index/js/jquery-ui.min.js?0723"></script>
<link rel="stylesheet" href="__ROOT__/index/css/jquery-ui.min.css?0723">
<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css">-->
<!--<link href="//cdn.bootcss.com/jquery-ui-bootstrap/0.5pre/css/custom-theme/jquery-ui-1.9.2.custom.css" rel="stylesheet">-->
<link rel="stylesheet" href="__ROOT__/index/css/house_index.css?20170818"/>
<script src="__ROOT__/index/js/wlog.js?0723" charset="utf-8"></script>
<style type="text/css">
    #loading_notice_div{
        position: fixed;
        top: 30%;
        text-align: center;
        width: 22%;
        padding: 1.5%;
        margin-left: 37.5%;
        background: #000000;
        color: white;
        opacity: 0.6;
        display: none;
        border-radius: 5px;
        z-index: 10000;
    }
    #datetime-picker-container{
        position: fixed;
        z-index: 20000;
        display: none;
        border: 1px solid #aaaaaa;
        border-radius: 4px;
        width: 17em;
        padding: .2em .2em 0;
        background: white;
        padding-top: 20px;
    }
    #datetime-picker-container div{
        float: left;
        margin-bottom: 14px;
        width: 25%;
        text-align: center;
    }
    #datetime-picker-container div span{
        padding: 5px;
        border-radius: 3px;
        cursor: pointer;
    }
    #datetime-picker-container div span:hover{
        background: #9E9E9E;
        color: white;
    }
    .getCodee {
        margin-top: -35px;
        cursor: pointer;
        width: 36%;
        float: right;
        color: #ea3843;
        border: #ea3843 solid 1px;
        height: 44px;
        line-height: 44px;
        border-radius: 5px;
        text-align: center;
    }
    
</style>
<form name="info_form">
    <input name="user_name" value="" type="hidden" />
    <input name="user_mobile" value="" type="hidden" />
    <input name="house_photos[]" value="__ROOT__/index/images/oss_59ef07f55347d.jpg" type="hidden" />
    <input name="house_photos[]" value="__ROOT__/index/images/oss_59ef07f680a0b.jpg" type="hidden" />
    <input name="house_photos[]" value="__ROOT__/index/images/oss_59ef07f71eb66.jpg" type="hidden" />
    <input name="house_photos[]" value="__ROOT__/index/images/oss_59ef07f8cfea6.jpg" type="hidden" />
    <input name="house_photos[]" value="__ROOT__/index/images/oss_59ef07f952841.jpg" type="hidden" />
    <input name="house_photos[]" value="__ROOT__/index/images/oss_59ef07f9dcab1.jpg" type="hidden" />
    <input name="house_photos[]" value="__ROOT__/index/images/oss_59ef07fd5d1af.jpg" type="hidden" />
    <input name="house_photos[]" value="__ROOT__/index/images/oss_59ef07fcb1dad.jpg" type="hidden" />
    <input name="house_photos[]" value="__ROOT__/index/images/oss_59ef07fb9623f.jpg" type="hidden" />
    <input name="house_photos[]" value="__ROOT__/index/images/oss_59ef07fb11a3e.jpg" type="hidden" />
    <input name="house_photos[]" value="__ROOT__/index/images/oss_59ef08019500f.jpg" type="hidden" />
    <input name="house_photos[]" value="__ROOT__/index/images/oss_59ef0801039b6.jpg" type="hidden" />
    <input name="house_photos[]" value="__ROOT__/index/images/oss_59ef08006b75c.jpg" type="hidden" />
    <input name="house_photos[]" value="__ROOT__/index/images/oss_59ef07ffcd916.jpg" type="hidden" />
    <input name="house_photos[]" value="__ROOT__/index/images/oss_59ef0803a8bee.jpg" type="hidden" />
    <input name="house_photos[]" value="__ROOT__/index/images/oss_59ef080455f6e.jpg" type="hidden" />
    <input name="house_photos[]" value="__ROOT__/index/images/oss_59ef080500dc3.jpg" type="hidden" />
    <input name="house_photos[]" value="__ROOT__/index/images/oss_59ef08058685b.jpg" type="hidden" />
    <input name="house_photos[]" value="__ROOT__/index/images/oss_58d71e5c5f7cf.png" type="hidden" />
    <input name="house_photos[]" value="__ROOT__/index/images/oss_58d71e5c75d11.png" type="hidden" />
    <input name="house_photos[]" value="__ROOT__/index/images/oss_58d71e81250ab.png" type="hidden" />
    <input name="house_photos[]" value="__ROOT__/index/images/oss_5a583df740061.jpg" type="hidden" />
    <input name="house_photos[]" value="__ROOT__/index/images/oss_5a583df74a5ae.jpg" type="hidden" />
    <input name="house_photos[]" value="__ROOT__/index/images/oss_5a583df751373.png" type="hidden" />
    </form>
<!--导航-->
<div class="mapOut">
    <div class="out">
        <div class="map">巴乐兔北京站 &gt; <a href="/zhaofang/">立即找房</a> &gt; <a href="" class="active">{$data.h_name}</a></div>
    </div>
</div>
<!--导航 end-->
<!--sidebar-->
<div class="basic-line">
    <div class="out">
        <div class="basic">
            <div class="basic-title basic-title-margin">
                <h2>
                    {$data.h_name}</h2>
                <p></p>
                <span class="basic-title-ps"></span>
            </div>
            <!--房源介绍信息-->
            <div class="house-text-Akey">
                <ul class="clearfix">
                    <li class="price">{$data.price}<span>元/月</span></li>
                    <li class="cent">{$data.area} <span>M²</span></li>
                    <li>未知</li>
                </ul>
            </div>
            <!--房源介绍信息-->
            <div class="house-text-list clearfix">
                <dl class="dl-haf">
                    <dt>交通：</dt>
                    <dd>4号线大兴线黄村火车站</dd>
                </dl>
                <dl class="dl-haf">
                    <dt>户型：</dt>
                    <dd>1室1厅1卫</dd>
                </dl>
                <dl class="dl-haf">
                    <dt>楼层：</dt>
                    <dd>17层/共18层</dd>
                </dl>
                <dl class="dl-haf">
                    <dt>类型：</dt>
                    <dd>整租</dd>
                </dl>
                <dl class="dl-haf">
                    <dt>付款：</dt>
                    <dd>付三押一,可申请月付</dd>
                </dl>
                <dl class="dl-haf">
                    <dt>区域：</dt>
                    <dd>大兴-清源</dd>
                </dl>
                <dl class="dl-whole">
                    <dt>地址：</dt>
                    <dd>永华路6号</dd>
                </dl>
            </div>
            <div class="basic-btn"
                 num="1344427"
                 name="艺苑桐城 1室1厅1卫"
                 category="大兴-清源"
                 variant="整租"
                 price="3300.00"
            >
                <a id="tel_server_btn" href="javascript:void(0);" onmouseenter="showConnectMobile(1344427);" class="btn-red">
                    <i class="bg-dianhua_w"></i>
                    <span id="dianhuakefu">电话客服</span>
                    <div class="pos-r" id="showConnectBox">
                        <div class="pannel-tel">
                            <div class="pannel-tel-top"><i class="icon icon-pannel-t"></i></div>
                            <img src="" id="mobile_erweima"/>
                            <p>微信扫码拨打或直接拨打热线电话<br/>
                                <strong id="mobile_phone"></strong>
                            </p>
                        </div>
                    </div>
                </a>
                <div class="tel-bot-line clearfix">
                    <a id="house_index_yuyue" mark="预约看房" href="javascript:void(0)" onClick="yuyueConfirm(this);" class="tel-bot-l">预约看房</a>
                    <a id="house_index_addMenu" mark="加入清单" href="javascript:void(0)" onClick="addMenuConfirm(this);" class="link-dt">加入清单</a>
                </div>
                <div class="tel-bot-text">已有26人看房</div>
            </div>
        </div>
    </div>
</div>
<!--sidebar end-->
<div class="out clearfix">
<!--list -->
<div class="details">
<script src="__ROOT__/index/js/myfocus-2.0.4.min.js" type="text/javascript"></script>
<script type="text/javascript">
    //焦点图
    myFocus.set({
        id:'focus',//焦点图盒子ID
        pattern:'mF_pithy_tb',//风格应用的名称
        time:3,//切换时间间隔(秒)
        trigger:'click',//触发切换模式:'click'(点击)/'mouseover'(悬停)
        width:600,//设置图片区域宽度(像素)
        height:450,//设置图片区域高度(像素)
        txtHeight:0//文字层高度设置(像素),'default'为默认高度，0为隐藏
    });
</script>
<div class="details-top clearfix">
    <div class="pic_box">
        <div id="focus_wrap">
            <div id="focus_box">
                <div id="focus">
                    <div class="pic">
                        <!--图片列表-->
                        <ul>
                            <li><a onclick="turnImgToFullScreen(0)" href="javascript:void(0)"><img alt="金隅创客" src="__ROOT__/index/images/oss_5a43315e2266b.jpg@!blth"/></a></li>
                            <li><a onclick="turnImgToFullScreen(1)" href="javascript:void(0)"><img alt="金隅创客" src="__ROOT__/index/images/oss_5a43315ea0c90.jpg@!blth"/></a></li>
                            <li><a onclick="turnImgToFullScreen(2)" href="javascript:void(0)"><img alt="金隅创客" src="__ROOT__/index/images/oss_5a4331623b853.jpg@!blth"/></a></li>
                            <li><a onclick="turnImgToFullScreen(3)" href="javascript:void(0)"><img alt="金隅创客" src="__ROOT__/index/images/oss_5a433163a4f02.jpg@!blth"/></a></li>
                            <li><a onclick="turnImgToFullScreen(4)" href="javascript:void(0)"><img alt="金隅创客" src="__ROOT__/index/images/oss_5a433168eefef.jpg@!blth"/></a></li>
                            <li><a onclick="turnImgToFullScreen(5)" href="javascript:void(0)"><img alt="金隅创客" src="__ROOT__/index/images/oss_5a433169bf559.jpg@!blth"/></a></li>
                            <li><a onclick="turnImgToFullScreen(6)" href="javascript:void(0)"><img alt="金隅创客" src="__ROOT__/index/images/oss_5a43316b4d1a5.jpg@!blth"/></a></li>
                            <li><a onclick="turnImgToFullScreen(7)" href="javascript:void(0)"><img alt="金隅创客" src="__ROOT__/index/images/oss_5a43316c17f0d.jpg@!blth"/></a></li>
                            <li><a onclick="turnImgToFullScreen(8)" href="javascript:void(0)"><img alt="金隅创客" src="__ROOT__/index/images/oss_5927b2087baa5.jpg@!blth"/></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="details-unit" id="find-place">
          <div class="details-unit-title">交通周边</div>
    <div class="details-inner">
        <ul>
                         <li><span class="icon-jt bg-bus"></span><span>交通：</span>4号线/大兴线(黄村火车站站)，步行8分钟<br/>410路；456路；954路；957路；；兴22路；兴25路；兴48路；兴61路；631路快车；829路；947路；968路；969路；京南物流专线；兴18路；兴20路；兴29路；兴36路；兴37路；兴59路；快速直达专线85路
                      </li>
             
          <li><span class="icon-jt bg-daocha"></span><span>饮食：</span>蝎王府羊蝎子、7风格餐厅、阿拉腾娜日、藏素风格餐厅、大炙汇烧烤</li>          <li><span class="icon-jt bg-gouwu"></span><span>购物：</span>王府井百货、吉星德亿商城、火神庙国际商业中心、星城商厦、帝园商城</li>           <li><span class="icon-jt bg-shenghuo"></span><span>生活：</span>北京宠乐易康动物医院、中国工商银行、街心公园、北京建筑大学附属中学</li>        </ul>
    </div>
        <div class="details-unit-map">
        <div class="map-tab">
            <ul class="clearfix">
                <li id="ditie" mark="地铁" onclick="AMap_searchNearBy('地铁',this);" class="active">地铁</li>
                <li id="gongjiao" mark="公交" onclick="AMap_searchNearBy('公交',this);">公交</li>
                <li id="canyin" mark="餐饮" onclick="AMap_searchNearBy('餐饮',this);">餐饮</li>
                <li id="gouwu" mark="购物" onclick="AMap_searchNearBy('购物',this);">购物</li>
                <li id="yinhang" mark="银行" onclick="AMap_searchNearBy('银行',this);">银行</li>
                <li id="yiyuan" mark="医院" onclick="AMap_searchNearBy('医院',this);">医院</li>
                <li id="xuexiao" mark="学校" onclick="AMap_searchNearBy('学校',this);">学校</li>
                <a href="javascript:void(0)" onclick="markerCenter()" class="locationThis">&nbsp&nbsp<img src="__ROOT__/index/images/dingwei-11.png" data-rjs="//js.baletoo.cn/static/pc/images/mac/detail/dingwei-11@3x.png">&nbsp定位到当前房源&nbsp&nbsp</a>
            </ul>
        </div>
        <div class="map-text">
            <!-- <div id="map-show" class="map-show"></div> -->
            <div class="search-line"  style="display: none;">
                <!--<div class="search-main search-page">
                    <ul class="clearfix">
                        <li><input id="map-search-input" type="text" placeholder="请输入区域" class="search-input"></li>
                        <li><a onClick="AMap_drawRoutePath('公交');_hmt.push(['_trackEvent', 'wap','sh', '公交']);" class="btn-red btn-search" href="javascript:void(0)">公交</a></li>
                        <li><a onClick="AMap_drawRoutePath('自驾');_hmt.push(['_trackEvent', 'wap','sh', '自驾']);" class="btn-red btn-search" href="javascript:void(0)">自驾</a></li>
                        <li><a onClick="AMap_drawRoutePath('步行');_hmt.push(['_trackEvent', 'wap','sh', '步行']);" class="btn-red btn-search" href="javascript:void(0)">步行</a></li>
                    </ul>
                </div>-->
            </div>
            <!--<div id="map-path-list" class="map-text-list">
            </div>-->
           <!-- <div class="puckUp"><a href="javascript:void(0)" onclick="$('.planTitle').click();" class="red-text">收起</a></div>
-->
        </div>
    </div>
</div>
<!--<div class="details-unit">-->
<!--    <div class="details-unit-title">-->
<!--        <ul class="details-unit-title-tab clearfix">-->
<!--            <li>独用设施</li>-->
<!--            <li>|22222</li>-->
<!--            <li>共用设施</li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <div class="details-unit-warp">-->
<!--        111-->
<!--    </div>-->
<!--</div>-->
<!---->
<!---->
    <div class ="wrap">
<div class="details-unit">
        <!---->
<!---->
</div>
    </div>
<!---->
<!---->
<!---->
<!---->
<!---->
<!---->
<!---->
</div>
<div id="OtherHouseContainer" class="unit-detail">
    <div class="unit-pro">
        <div class="pro-title">
            <h2>该房东其他房源</h2>
            <a href="javascript:void(0)" onclick="changeOtherHouse()" class="more"><span>•</span>换一批</a>
        </div>
        <ul id="other_house_items_container" class="pro-list clearfix">
                          
            <li num="2311376" name="彩虹新城 1室0厅0卫" category="大兴-枣园" variant="合租" price="1900">
                <a onclick="pbalistshowkhouse(this)" target="_blank" href="http://bj.baletu.com/house/2311376.html" class="pro-pic">
                    <img style="width: 100%" alt="彩虹新城" src="__ROOT__/index/images/oss_585356855179e.png@!380_280.png" />
                </a>
                <div class="list-index-text">
                    <div class="list-pic-title">
                        <h3>彩虹新城</h3>
                        <span class="price"><em>￥</em> 1900</span>
                    </div>
                    <p class="list-pic-ps">大兴-枣园3户合租 | 朝南-主卧 | 18M²</p>
                    <div class="pro-lab">
                                                <span>月付</span>
                                                <span>近地铁</span>
                                                <span>主卧</span>
                                                <span>朝南</span>
                                            </div>
                </div>
            </li>
            
                          
            <li num="1297156" name="富强西里 1室0厅0卫" category="大兴-黄村" variant="合租" price="900">
                <a onclick="pbalistshowkhouse(this)" target="_blank" href="http://bj.baletu.com/house/1297156.html" class="pro-pic">
                    <img style="width: 100%" alt="富强西里" src="__ROOT__/index/images/oss_5876014255429.png@!380_280.png" />
                </a>
                <div class="list-index-text">
                    <div class="list-pic-title">
                        <h3>富强西里</h3>
                        <span class="price"><em>￥</em> 900</span>
                    </div>
                    <p class="list-pic-ps">大兴-黄村4户合租 | 朝北-次卧 | 10M²</p>
                    <div class="pro-lab">
                                                <span>月付</span>
                                                <span>近地铁</span>
                                                <span>非一楼</span>
                                            </div>
                </div>
            </li>
            
                          
            <li num="1603609" name="兴海家园月苑 1室0厅0卫" category="大兴-西红门" variant="合租" price="1500">
                <a onclick="pbalistshowkhouse(this)" target="_blank" href="http://bj.baletu.com/house/1603609.html" class="pro-pic">
                    <img style="width: 100%" alt="兴海家园月苑" src="__ROOT__/index/images/oss_59f15e4229c66.jpg@!380_280.png" />
                </a>
                <div class="list-index-text">
                    <div class="list-pic-title">
                        <h3>兴海家园月苑</h3>
                        <span class="price"><em>￥</em> 1500</span>
                    </div>
                    <p class="list-pic-ps">大兴-西红门4户合租 | 朝北-次卧 | 18M²</p>
                    <div class="pro-lab">
                                                <span>月付</span>
                                                <span>近地铁</span>
                                                <span>非一楼</span>
                                            </div>
                </div>
            </li>
            
                          
            <li num="2310263" name="瑞海家园五区 1室0厅0卫" category="大兴-西红门" variant="合租" price="1500">
                <a onclick="pbalistshowkhouse(this)" target="_blank" href="http://bj.baletu.com/house/2310263.html" class="pro-pic">
                    <img style="width: 100%" alt="瑞海家园五区" src="__ROOT__/index/images/oss_5869b0763dde9.png@!380_280.png" />
                </a>
                <div class="list-index-text">
                    <div class="list-pic-title">
                        <h3>瑞海家园五区</h3>
                        <span class="price"><em>￥</em> 1500</span>
                    </div>
                    <p class="list-pic-ps">大兴-西红门5户合租 | 朝北-次卧 | 18M²</p>
                    <div class="pro-lab">
                                                <span>月付</span>
                                                <span>电梯房</span>
                                                <span>非一楼</span>
                                            </div>
                </div>
            </li>
            
                    </ul>
    </div>
</div>
<div id="RelationHouseContainer"   class="unit-detail">
    <div class="unit-pro">
        <div class="pro-title">
            <h2>相似房源</h2>
            <a href="javascript:void(0)" onclick="changeRelationHouse()" class="more"><span>•</span>换一批</a>
        </div>
        <ul id="relation_house_items_container" class="pro-list clearfix">
            
                <li num="2137166" name="万科天地 1室1厅1卫" category="大兴-亦庄" variant="整租" price="3000">
                    <a onclick="pbalistshowkhouse(this)" target="_blank" href="http://bj.baletu.com/house/2137166.html" class="pro-pic">
                        <img style="width: 100%" alt="万科天地" src="__ROOT__/index/images/oss_5a4c97f9dbed8.jpg@!380_280.png" />
                    </a>
                    <div class="list-index-text">
                        <div class="list-pic-title">
                            <h3>万科天地</h3>
                            <span class="price"><em>￥</em> 3000</span>
                        </div>
                        <p class="list-pic-ps">大兴-亦庄整租 | 1室1厅1卫 | 40M²</p>
                        <div class="pro-lab">
                                                            <span>近地铁</span>
                                                            <span>非一楼</span>
                                                    </div>
                    </div>
                </li>
            
                <li num="2310103" name="兴政西里 1室1厅1卫" category="大兴-观音寺" variant="整租" price="2900">
                    <a onclick="pbalistshowkhouse(this)" target="_blank" href="http://bj.baletu.com/house/2310103.html" class="pro-pic">
                        <img style="width: 100%" alt="兴政西里" src="__ROOT__/index/images/oss_5a72af8ed3dbb.png@!380_280.png" />
                    </a>
                    <div class="list-index-text">
                        <div class="list-pic-title">
                            <h3>兴政西里</h3>
                            <span class="price"><em>￥</em> 2900</span>
                        </div>
                        <p class="list-pic-ps">大兴-观音寺整租 | 1室1厅1卫 | 45M²</p>
                        <div class="pro-lab">
                                                            <span>近地铁</span>
                                                            <span>非一楼</span>
                                                    </div>
                    </div>
                </li>
            
                <li num="2314351" name="兴政西里 2室1厅1卫" category="大兴-观音寺" variant="整租" price="3200">
                    <a onclick="pbalistshowkhouse(this)" target="_blank" href="http://bj.baletu.com/house/2314351.html" class="pro-pic">
                        <img style="width: 100%" alt="兴政西里" src="__ROOT__/index/images/oss_5a72af8ed3dbb.png@!380_280.png" />
                    </a>
                    <div class="list-index-text">
                        <div class="list-pic-title">
                            <h3>兴政西里</h3>
                            <span class="price"><em>￥</em> 3200</span>
                        </div>
                        <p class="list-pic-ps">大兴-观音寺整租 | 2室1厅1卫 | 65M²</p>
                        <div class="pro-lab">
                                                            <span>近地铁</span>
                                                            <span>非一楼</span>
                                                    </div>
                    </div>
                </li>
            
                <li num="2303713" name="富强东里 3室2厅1卫" category="大兴-黄村" variant="整租" price="3500">
                    <a onclick="pbalistshowkhouse(this)" target="_blank" href="http://bj.baletu.com/house/2303713.html" class="pro-pic">
                        <img style="width: 100%" alt="富强东里" src="__ROOT__/index/images/oss_5864bd1defa3d.png@!380_280.png" />
                    </a>
                    <div class="list-index-text">
                        <div class="list-pic-title">
                            <h3>富强东里</h3>
                            <span class="price"><em>￥</em> 3500</span>
                        </div>
                        <p class="list-pic-ps">大兴-黄村整租 | 3室2厅1卫 | 81M²</p>
                        <div class="pro-lab">
                                                            <span>近地铁</span>
                                                            <span>非一楼</span>
                                                    </div>
                    </div>
                </li>
                    </ul>
    </div>
</div>
</div>
<div id="loading_notice_div">加载中</div>
<div id="datetime-picker-container">
    <div><span>8:00</span></div>
    <div><span>9:00</span></div>
    <div><span>10:00</span></div>
    <div><span>11:00</span></div>
    <div><span>12:00</span></div>
    <div><span>13:00</span></div>
    <div><span>14:00</span></div>
    <div><span>15:00</span></div>
    <div><span>16:00</span></div>
    <div><span>17:00</span></div>
    <div><span>18:00</span></div>
    <div><span>19:00</span></div>
    <div><span>20:00</span></div>
    <div><span>21:00</span></div>
    <div><span>22:00</span></div>
</div>
<div id="full_screen_div_bg" style="width: 100%;height: 100%;top: 0; left: 0; background: #000000;z-index: 100;position: fixed;opacity: 0.7;display: none">
</div>
<div id="full_screen_div" class="imgContainer" style="width: 100%;height: 100%;top: 0; left:0; background: transparent;z-index: 100;position: fixed;display: none">
    <div style="float: right;"><img style="margin-right: 20px;cursor: pointer" width="40" onclick="turnOffFullScreenImg()" src="__ROOT__/index/images/full_close.png" /></div>
    <div class="detailImg" style="width: 100%;height: 70%;max-height: 600px;margin-top: 8%;max-width: 1200px;margin-left: auto;margin-right: auto;text-align: center;" >
        <a id="detailImg-pre" style="cursor: pointer"><img style="width: 25px;position: absolute;top: 45%;left: 1%" src="__ROOT__/index/images/nav_prev.png" /></a>
        <div id="detailImg-box" class="box" style="width: 70%;max-height: 540px;margin-left: auto;margin-right: auto;text-align: center"> </div>
        <a id="detailImg-next" style="cursor: pointer"><img style="width: 25px;position: absolute;top: 45%;right: 1%" src="__ROOT__/index/images/nav_next.png" /></a>
    </div>
    <div id="img_i_count" style="width: 4%; position: fixed; margin-left: 48%; bottom: 55px; background: black; color: white; padding: 6px 20px; text-align: center; border-radius: 5px;    opacity: 0.8;">1/2</div>
</div>
<div class="im-container">
    <a href="javascript:;" id="im_lightin" data-status="1">
      	<img src="__ROOT__/index/images/im_normal_new_1122.png"  data-rjs="//js.baletoo.cn/static/pc/images/im/im_normal_new_1122_mac.png" alt="" class="im-img">
      	<!--im提示-->
      	<div class="im_prompt">
      		<img src="__ROOT__/index/images/kefu.png" data-rjs="//js.baletoo.cn/static/pc/images/im/kefu_mac.png" alt="" class="im-kefu">
      	</div>
    </a>
    <div class="im-wrapper">
        <div class="title">
            <img src="__ROOT__/index/images/im_staff01.png" data-rjs="//js.baletoo.cn/static/pc/images/im/im_staff01_mac.png" alt="">
            <img src="__ROOT__/index/images/im_close01.png" data-rjs="//js.baletoo.cn/static/pc/images/im/im_close01_mac.png" alt="" id="im_closeform" data-status="0">
            <div class="title_word">巴乐兔客服</div>
            <div class="clear"></div>       
        </div>
        <div class="address"></div>
        <div class="im-message" id="im_message"></div>
    </div>
    <a href="javascript:;" id="toTOP">
		<img src="__ROOT__/index/images/toTop_1122.png"  data-rjs="//js.baletoo.cn/static/pc/images/im/toTop_1122_mac.png" alt="" class="Totop">
      	<!--TOP提示-->
      	<div class="Totop_div">
      		<img src="__ROOT__/index/images/top_info.png" data-rjs="//js.baletoo.cn/static/pc/images/im/top_info_mac.png" alt="" class="Totop_info">
		</div>					
	</a>
</div>
<script type="text/javascript" src="__ROOT__/index/other/maps?v=1.3&key=14ac266e7e40bf71f89b31dc9bd0abb3&plugin=AMap.Autocomplete,AMap.LineSearch,AMap.Walking,AMap.Driving,AMap.Transfer,AMap.Geocoder"></script>
<!--<script type="text/javascript" src="__ROOT__/index/http://cache.amap.com/lbs/static/WalkingRender1230.js"></script>-->
<!--<script type="text/javascript" src="__ROOT__/index/http://cache.amap.com/lbs/static/TransferRender1230.js"></script>-->
<!--<script type="text/javascript" src="__ROOT__/index/http://cache.amap.com/lbs/static/DrivingRender1230.js"></script>-->
<link rel="stylesheet" href="__ROOT__/index/css/main1119.css"/>
<style type="text/css">
    body{ position: initial; }
</style>
<!--<link rel="stylesheet" href="http://cache.amap.com/lbs/static/AMap.WalkingRender1120.css"/>-->
<!--<link rel="stylesheet" href="http://cache.amap.com/lbs/static/AMap.TransferRender1120.css"/>-->
<!--<link rel="stylesheet" href="http://cache.amap.com/lbs/static/AMap.DrivingRender1120.css"/>-->
<script type="text/javascript">
    //*模块固定 by wn*
    window.onscroll = function(){
        var scrollTop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
            topHeight = $(".details").height();//获取内容高
        if( scrollTop >= 90 & topHeight - 360 >= scrollTop){
            $('.basic-line').css({
                "position":"fixed",
                "top":"0px",
            });
        }else{
            $('.basic-line').css({
                "position":"static",
            });
        }
    }
    //////////////////
    var  privateFalicities = '';
    var  publicFalicities = '';
    $(document).ready(function(){
    if(privateFalicities){//ra独用 rap 公用
       $('.wrap span:first').html('独用设施');
       $('.wrap #privateFalicities').show();
       if(publicFalicities){
           $('.wrap .rap').html('公用设施');
       }
       $('.ra').click(function () {
           $(this).addClass('active');
           $(this).siblings().removeClass('active');
           $('.wrap #publicFalicities').hide();
           $('.wrap #privateFalicities').show();
       })
        $('.rap').click(function () {
            $(this).addClass('active');
            $(this).siblings().removeClass('active');
            $('.wrap #publicFalicities').show();
            $('.wrap #privateFalicities').hide();
        })
    }else{
        if(publicFalicities){
            $('.rap').addClass('active');
            $('.iconsh-tab span:first').html('公用设施');
            $('.iconsh-tab #publicFalicities').hide();
        }
    }
    });
    var s_lon = '116.328866';
    var s_lat = '39.725531';
    var s_address = '永华路6号';
    var house_id = '1344427';
    var city_id = '238';
    var showTimes = 0;
    showConnectMobile(house_id);
    function showConnectMobile(house_id){
        if($('#mobile_erweima').attr('src') == ''){
            var indexUrl = '/ajax/getConnectMobile?id=' + house_id;
            $.getJSON(indexUrl,{},function (data) {
                $('#mobile_erweima').attr('src',data['erweima']);
                $('#mobile_phone').html(data['showNumber']);
                $('#dianhuakefu').html(data['showNumber']);
            });
        }
    }
    g_config['model_name'] = 'house';
    g_config['house_info'] = [];
    g_config['house_info']['num'] = "1344427";
    g_config['house_info']['name'] = "艺苑桐城 1室1厅1卫";
    g_config['house_info']['category'] = "大兴-清源";
    g_config['house_info']['variant'] = "整租";
    g_config['house_info']['price'] = "3300.00";
    var mapObj = new AMap.Map('map-show',{
        zoom: 14,
        center: [s_lon, s_lat],
        city: "北京"
    });
    function markerCenter(){
        mapObj.setZoomAndCenter(16, [s_lon, s_lat]);
        new AMap.Marker({ //小区中心点位置
            map: mapObj,
            icon : '//js.baletoo.cn/static/pc/images/icon-pos.png',
            position: new AMap.LngLat(s_lon, s_lat),
            offset : new AMap.Pixel(-20.5,-49),
        });
    }
    window.onload = function(){
        AMap_searchNearBy('地铁');
        setOnlickListener();
        LoadingNotice.initView();
       changeOtherHouse();
       changeRelationHouse();
    };
    function setOnlickListener(){
        $('body').on('click',function(){
            $('#datetime-picker-container').hide();
        });
    }
    function AMap_searchNearBy(type,el){
        if(el!=undefined){
            $('.map-tab li.active').removeClass('active');
        }
        mapObj.clearMap();
        AMap.service(["AMap.PlaceSearch"], function() {
            var placeSearch = new AMap.PlaceSearch({ //构造地点查询类
                pageSize: 100,
                pageIndex: 1,
                type: type,
                city: "北京",
                map: mapObj
            });
            var centerObj=mapObj.getCenter();
            var cpoint = [s_lon, s_lat]; //中心点坐标
            placeSearch.searchNearBy('', cpoint, 500, function(status, result) {
                mapObj.panTo(centerObj);
                mapObj.setZoom(15);
            });
        });
        if(el!=null){
            $(el).addClass('active');
        }
        markerCenter();
    }
    function AMap_drawRoutePath(type){
        mapObj.clearMap();
        //构造路线导航类
        if(type=='步行'){
            var drawer = new AMap.Walking({
                map: mapObj,
                panel: "map-path-list"
            });
        }else if(type=='自驾'){
            var drawer = new AMap.Driving({
                map: mapObj,
                panel: "map-path-list"
            });
        }else if(type=='公交'){
            var transOptions = {
                map: mapObj,
                panel: 'map-path-list',
                policy: AMap.TransferPolicy.LEAST_TIME //乘车策略
            };
            var drawer = new AMap.Transfer(transOptions);
        }else{
            return ;
        }
        // 根据起终点名称规划驾车导航路线
        drawer.search([
            {keyword: s_address,city:'上海'},
            {keyword: $('#map-search-input').val(),city:'上海'}
        ]);
        markerCenter();
    }
    /*IM start*/
    var userIsLogin = 0;
    var imImgSrc = "//js.baletoo.cn"+"/static/pc/images/im";
            var imUId = 0;
        var imPas = 0;
        var imServiceId = 0;
        var imAppKey = 0;
        var imServiceName = 0;
        /*IM end*/
</script>
<script src="__ROOT__/index/js/aliim.js?171128" type="text/javascript"></script>
<script src="__ROOT__/index/js/jquery.carouFredSel-6.0.4-packed.js" type="text/javascript"></script>
<script type="text/javascript" src="__ROOT__/index/js/detail_index.js?20170722"></script>
<script type="text/javascript" src="__ROOT__/index/js/common.js?20170508"></script>
<script type="text/javascript" src="__ROOT__/index/js/common.js?2"></script>
<script type="text/javascript" src="__ROOT__/index/js/popup.js?10"></script>
<script type="text/javascript" src="__ROOT__/index/js/search.js"></script>
<script src="__ROOT__/index/js/jquery.lazyload.js"></script>
<div class="slogan" id='slogan'>
    <div class="out">
        <ul class="clearfix">
            <li>
                <p><i class="s-icon s-icon-mian"></i></p>
                <h4>0元佣金</h4>
            </li>
            <li>
                <p><i class="s-icon s-icon-yue"></i></p>
                <h4>房租月付</h4>
            </li>
            <li>
                <p><i class="s-icon s-icon-yu"></i></p>
                <h4>在线预约</h4>
            </li>
            <li>
                <p><i class="s-icon s-icon-zu"></i></p>
                <h4>在线服务</h4>
            </li>
        </ul>
    </div>
</div>
<div class="foot">
    <div class="out clearfix">
        <div class="foot-l about-link">
            <dl>
                <dt><a href="/about/">关于我们</a></dt>
                <dd>
                    <a href="http://partner.baletu.com" target="_blank">伙伴登录</a>
                    <a href="/sitemap/">网站地图</a>
                    <a href="/shequ/" target="_blank">兔社区</a>
                </dd>
            </dl>
        </div>
        <div class="foot-l about-link">
            <dl>
                <dt>合作公寓</dt>
                <dd>
                    <span>青年汇</span>
                    <span>银桥公寓</span>
                    <span>爱家精品公寓 ...</span>
                </dd>
            </dl>
        </div>
        <div class="foot-l about-link">
            <dl>
                <dt>意见反馈</dt>
                <dd><a href="mailto:service@baletu.com">Mail：service@baletu.com</a></dd>
            </dl>
            <dl>
                <dt><a href = "/contact/" target="_blank">联系客服</a></dt>
                <dd>
                    <p>400-183-0033</p>
                    <p>周一～周日 8:00～23:00</p>
                </dd>
            </dl>
        </div>
        <div class="foot-r clearfix">
            <div class="code-pic">
                <p>扫码下载巴乐兔APP</p>
                <img id="foot_download_app" mark="底部" src="__ROOT__/index/images/dapp-new-footer25.png"  data-rjs="//js.baletoo.cn/static/pc/images/mac/index/dapp-new-footer25@3x.png"/>
            </div>
            <div class="code-pic">
                <p>扫码关注微信号</p>
                <img src="__ROOT__/index/images/codePic02.jpg" data-rjs="//js.baletoo.cn/static/pc/images/mac/index/codePic02@3x.png"/>
            </div>
        </div>
        <div class="clear"></div>
                <div class="foot-pc">
             ©2015  上海万间信息技术有限公司   &nbsp; &nbsp;
             沪ICP备15004537号   &nbsp; &nbsp;
             <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011502006937" target="_blank" class="gongan">
                 沪公网安备31011502006937号 &nbsp; &nbsp;
             </a>
             张江高科晨晖路88号1号楼4层
         </div>
    </div>
</div>
<script>
	$(function() {
		$("img.lazy").lazyload({
			effect : "fadeIn"
		});
	});
</script>
<script>
    seajs.use("monitor",function(mc){
        mc.bindMonitor();
    });
</script>
<noscript>
    <div style="display:none;">
        <img height="1" width="1" style="border-style:none;" alt="" src="__ROOT__/index/other/?guid=ON&amp;script=0"/>
    </div>
</noscript>
</body>
</html>